
src/Hoverfly\.Core/bin/Debug/
src/\.vs
src/packages

src/Hoverfly\.Core/obj/Debug/

src/Hoverfly\.Core\.Test/bin/Debug/binaries/

src/Hoverfly\.Core\.Test/bin/Debug/

src/Hoverfly\.Core\.Test/obj/Debug/

src/Hoverfly\.Core
src/Hoverfly\.Dsl\.Test/bin/Debug/

src/Hoverfly\.Dsl\.Test/obj/Debug/

src/Hoverfly\.Dsl/bin/Debug/

src/Hoverfly\.Dsl/obj/Debug/

src/Hoverfly\.Test/bin/Debug/

src/Hoverfly\.Test/obj/Debug/

src/\.fake/

src/Hoverfly\.Core\.Test/bin/Release/

src/Hoverfly\.Core\.Test/obj/Release/

src/Hoverfly\.Test/bin/Release/

src/Hoverfly\.Test/obj/Release/

src/Hoverfly\.Core\.Tests/bin/Debug/

src/Hoverfly\.Core\.Tests/bin/Release/

src/Hoverfly\.Core\.Tests/obj/Debug/

src/Hoverfly\.Core\.Tests/obj/Release/
