
src/Hoverfly\.Core/bin/Debug/

src/Hoverfly\.Core/\.vs/

src/Hoverfly\.Core/obj/Debug/

src/Hoverfly\.Core\.Test/bin/Debug/binaries/

src/Hoverfly\.Core\.Test/bin/Debug/

src/Hoverfly\.Core\.Test/obj/Debug/

src/Hoverfly\.Core\.Test/binaries/
